$color-primary : #27017c;
$color-secondary : #00d392;
$color-third : #017C27;
$font-primary : 1rem 'sans','myriadpro';

.bg-specials{
    background-color: $color-primary;
    overflow: auto;
}
.specials-img{
    object-fit: contain;
    width: 170px;
    height: auto;
}
.bg-vegetable-category{
    background-color: $color-third;
    overflow: auto;
}
@media only screen and (max-width: 992px) {
    .specials-img{
        object-fit: contain;
        width: 140px;
        margin-right: 1rem;
    }
}