$color-primary : #27017c;
$color-secondary : #00d392;
$font-primary : 1rem 'sans','myriadpro';
$font-secondary : 1rem 'secondary','myriadpro';

.sale-container{
    background-color: #fff !important;
    margin: 3rem auto;
    width: 89%;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgba(39, 1, 124 , .1);
    .sale-text{
        position: relative;
        margin-left: 1rem;
        margin-right: 1.5rem;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 1.3rem;
        color: #444;
        padding: .5rem 0 1rem;
        line-height: 31px;
        white-space: nowrap;
    }
    .sale-text span{
        position: relative;
        font-weight: 700;
        font-size: 1.3rem;
        padding: .5rem 0 1.1rem;
        line-height: 31px;
        white-space: nowrap;
    }
    .sale-text::after{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #dfdfdf;
        height: 1px;
        content: "";
        z-index: 0;
    }
    .sale-text span::before{
        content: "";
        position: absolute;
        right: 0;
        left: -40px;
        bottom: 0;
        background-color: $color-secondary;
        height: 1px;
        z-index: 1;
    }
    .sale-text span::after{
        content: "";
        position: absolute;
        left: -45px;
        width: 15px;
        height: 1px;
        background-color: #fff;
        bottom: 0;
        z-index: 1;
    }
    .best-sale{
        .my-col{
            width: 194px;
            margin: 1rem .7rem 0;
        }
        .my-card{
            border: transparent;
        }
        .my-card:hover{        
            box-shadow: 1px 1px 10px #ddd;
        }
        .my-card-body{
            margin: .5rem 0;
        }
        .my-card-img{
            height: 120px;
        }
        .my-card-title{
            font: $font-secondary;
            font-weight: 700;
            font-size: .7rem;
            height: 3rem;
        }
        .badge{
            font: $font-primary;
        font-weight: 700;
        font-size: 75%;
        }
        .my-card-price{
            font:$font-primary;
            font-size: 1rem;
            text-align: left;
            font-weight: 700;
            padding: 0;
            span{
                margin-right: .4rem;;
                font-weight: 400;
                font-size: .9rem;
            }
        }
        
    }
}

@media only screen and (max-width: 992px) {
    .sale-container{
        margin: 1rem auto;
        width: 100%;
        background-color: transparent !important;
        border: none;
        box-shadow: none;
        .sale-text{
            margin-right: 1rem;
            font-weight: 700;
            font-size: 1.3rem;
            padding: .5rem 0 1.3rem;
        }
        .sale-text span{
            font-size: 1.3rem;
        }
        .sale-text::after{
            display: none;
            content: "";
        }
        .sale-text span::before{
            content: "";
            display: none;
        }
        .sale-text span::after{
            content: "";
            display: none;
        }
        .best-sale{
            .my-card{        
                box-shadow: 1px 1px 10px #e6e6e6;
            }
            .my-col{
                width: 194px;
                margin: .5rem;
            }
        }
    }
}